# Compiled stuff
*.o
build/
/c8as
/c8emu

# Generated sources
src/as_*.h
src/as_*.c

# Emacs
*~
\#*\#
.\#*

# Autotools files
Makefile.in
Makefile
.dirstamp
.deps/
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/ylwrap
stamp-h1
config.*